@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scanline {
    animation: scanline 2s linear infinite;
  }
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
